.titleText{
  padding: 10px;
  background:  #fff;
  border-radius:  5px;
  margin-bottom: 10px;
}

.titleFirst{
  margin-right: 5px;
  font-size: 14px;
  font-weight: 900;
  cursor: pointer;
}

.titleSecond{
  margin-left: 5px;
  color: #ccc;
}